log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1

# Ignore all Python files
*.py

# Ignore temp TOC files
maintoc.yml
tstoc.yml
csharptoc.yml

# Ignore Copilot instructions
.github/

# Ignore generated-snippets intermediate source
docs/assets/generated-snippets/

# Ignore porting scripts
description-enhancement/
porting/
earlier-scripts/